
.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .stoke-light {
    font-family: "Stoke", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .stoke-regular {
    font-family: "Stoke", serif;
    font-weight: 400;
    font-style: normal;
  }
  